.bg-icon {
  position: absolute;
  top: 106px;
  left: 0;
  width: 1280px;
  height: 726px;
  object-fit: cover;
}
.clip-path-group,
.path30-icon {
  position: absolute;
  height: 86.42%;
  width: 100%;
  top: 99.52%;
  right: 0;
  bottom: -85.94%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group {
  object-fit: cover;
}
.navbarbg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1280px;
  height: 108px;
}
.index-child,
.index-item {
  position: absolute;
  top: 392.5px;
  left: 255.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.index-item {
  left: 532.5px;
}
.starting-out-professionally {
  margin: 0;
}
.in-the-digital {
  margin: 0;
  white-space: pre-wrap;
}
.starting-out-professionally-container {
  position: absolute;
  top: 500px;
  left: 39px;
  font-size: var(--font-size-3xl);
}
.index-inner {
  position: absolute;
  top: 454.5px;
  left: 38.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1140px;
  height: 1px;
}
.systems-engineer {
  position: absolute;
  top: 401px;
  left: 556px;
}
.interactive-product-design {
  position: absolute;
  top: 401px;
  left: 275px;
}
.about,
.interaction-technology {
  position: absolute;
  top: 401px;
  left: 41px;
}
.about {
  top: 249px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.in-my-spare-container {
  position: absolute;
  top: 624px;
  left: 42px;
  font-size: var(--font-size-3xl);
}
.about1,
.projects {
  position: absolute;
  top: 0;
}
.about1 {
  left: 0;
  color: var(--color-blanchedalmond);
}
.projects {
  left: 92px;
  cursor: pointer;
}
.navlist,
.resume {
  position: absolute;
  top: 0;
  left: 200px;
}
.navlist {
  top: 45px;
  left: 39px;
  width: 268px;
  height: 22px;
  color: var(--color-gray-100);
}
.rishigurralalogo {
  position: absolute;
  top: 31px;
  left: 900px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-lexend-zetta);
  color: var(--color-whitesmoke);
}
.dp3-1-icon {
  position: absolute;
  top: 185px;
  left: 920px;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.index {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
