.project2-child,
.project2-child1,
.project2-child2,
.project2-inner,
.project2-item {
  position: absolute;
  height: 19.38%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 80.62%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.project2-child1,
.project2-child2,
.project2-inner,
.project2-item {
  top: 22.64%;
  bottom: 57.99%;
}
.project2-child1,
.project2-child2,
.project2-inner {
  top: 42.01%;
  right: -0.7%;
  bottom: 38.61%;
  left: 0.7%;
}
.project2-child1,
.project2-child2 {
  top: 61.39%;
  bottom: 19.23%;
}
.project2-child2 {
  top: 80.77%;
  right: 0;
  bottom: -0.14%;
  left: 0;
}
.robots-have-fascinated {
  margin: 0;
  white-space: pre-wrap;
}
.we-devised-to {
  margin: 0;
}
.robots-have-fascinated-container {
  position: absolute;
  top: 27px;
  left: 0;
  display: inline-block;
  width: 1145px;
  height: 162px;
}
.robots-have-fascinated-us-thro-parent {
  position: absolute;
  top: 680px;
  left: 79px;
  width: 1145px;
  height: 189px;
}
.scenario-based-design2 {
  font-weight: 500;
}
.scenario-based-design-container {
  position: absolute;
  top: 14px;
  left: 0;
}
.scenario-based-design-we-thoug-parent {
  position: absolute;
  top: 1271px;
  left: 80px;
  width: 668px;
  height: 203px;
}
.miro-e-as-companion {
  position: absolute;
  top: 251px;
  left: 79px;
  font-size: var(--font-size-9xl);
  font-weight: 800;
  white-space: pre-wrap;
}
.project2-child3 {
  position: absolute;
  top: 308.5px;
  left: 56.5px;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1128px;
  height: 1px;
}
.team2 {
  position: absolute;
  top: 456px;
  left: 79px;
  font-weight: 600;
}
.rochelle-spaargen-puck-container {
  position: absolute;
  top: 512px;
  left: 79px;
  font-size: var(--font-size-xl);
}
.type2 {
  position: absolute;
  top: 344px;
  left: 79px;
  font-weight: 600;
}
.miro-blockly,
.tools2 {
  position: absolute;
  top: 40px;
  left: 5px;
}
.tools2 {
  top: 0;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.miro-blockly-parent {
  position: absolute;
  top: 456px;
  left: 921px;
  width: 73px;
  height: 136px;
  font-size: var(--font-size-xl);
}
.duration2 {
  position: absolute;
  top: 348px;
  left: 921px;
  font-weight: 600;
}
.miro-e,
.research-project2 {
  position: absolute;
  top: 393px;
  left: 79px;
}
.miro-e {
  top: 0;
  left: 0;
  font-weight: 600;
}
.miro-e-is-a-container,
.miro-e-parent {
  position: absolute;
  top: 46px;
  left: 1px;
}
.miro-e-parent {
  top: 1029px;
  left: 80px;
  width: 936px;
  height: 181px;
}
.weeks2 {
  position: absolute;
  top: 396px;
  left: 921px;
  font-size: var(--font-size-xl);
}
.project2-child4,
.project2-child5 {
  position: absolute;
  top: 1516px;
  left: 90px;
  background-color: var(--color-gainsboro-100);
  width: 398px;
  height: 232px;
}
.project2-child5 {
  left: 618px;
}
.user-testing1 {
  position: absolute;
  top: 1001px;
  left: 0;
  font-weight: 600;
}
.screenshot-2024-03-19-at-201 {
  position: absolute;
  top: 222px;
  left: 35px;
  width: 1018px;
  height: 677px;
  object-fit: cover;
}
.post-scenarios-we-container {
  position: absolute;
  top: 100px;
  left: 5px;
}
.design-of-behaviour-parent {
  position: absolute;
  top: 3142px;
  left: 74px;
  width: 1053px;
  height: 1028px;
}
.we-choose-two-container {
  position: absolute;
  top: 2106px;
  left: 74px;
}
.project2-child6,
.project2-child7 {
  position: absolute;
  top: 2646px;
  left: 81px;
  background-color: var(--color-gainsboro-100);
  width: 541px;
  height: 323px;
}
.project2-child7 {
  left: 683px;
}
.screenshot-2024-03-19-at-220 {
  position: absolute;
  top: 4451px;
  left: 118px;
  width: 963px;
  height: 330px;
  object-fit: cover;
}
.participants-consent,
.setting-up,
.summary-conclusion {
  position: absolute;
  top: 4186px;
  left: 76px;
  font-weight: 500;
}
.participants-consent,
.summary-conclusion {
  top: 5422px;
}
.summary-conclusion {
  top: 5644px;
}
.based-on-all-container {
  position: absolute;
  top: 5713px;
  left: 79px;
}
.there-will-be-container {
  position: absolute;
  top: 5496px;
  left: 75px;
}
.how-did-you {
  margin-bottom: 0;
}
.how-did-you-interpret-the-miro,
.which-of-the-three-scenarios-b {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-10xl);
}
.which-of-the-three-scenarios-b {
  white-space: pre-wrap;
}
.project2-child8,
.the-setting-of-container {
  position: absolute;
  top: 4895px;
  left: 81px;
}
.project2-child8 {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1280px;
  height: 108px;
}
.about5 {
  left: 0;
  cursor: pointer;
}
.about5,
.projects6,
.resume4 {
  position: absolute;
  top: 0;
}
.projects6 {
  left: 92px;
  color: var(--color-blanchedalmond);
  cursor: pointer;
}
.resume4 {
  left: 200px;
  color: var(--color-gray-100);
}
.about-container,
.rishi-gurrala5 {
  position: absolute;
  color: var(--color-whitesmoke);
}
.about-container {
  top: 45px;
  left: 39px;
  width: 268px;
  height: 22px;
  font-size: var(--font-size-lg);
}
.rishi-gurrala5 {
  top: 31px;
  left: 900px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-lexend-zetta);
}
.back-to-projects3 {
  position: absolute;
  top: 0;
  left: 38px;
  font-weight: 500;
}
.group-child {
  position: absolute;
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 27px;
  height: 1px;
}
.group-inner,
.group-item {
  position: absolute;
  top: 11px;
  left: 0;
  width: 13px;
  height: 10.1px;
  object-fit: contain;
}
.group-inner {
  top: 1px;
  height: 10px;
}
.group-div,
.previous-project-group {
  position: absolute;
  top: 175px;
  left: 81px;
  width: 178px;
  height: 22px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.previous-project-group {
  top: 6497px;
  left: 86px;
}
.next-project2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.group-child4 {
  position: absolute;
  top: 1px;
  left: 119px;
  width: 26px;
  height: 20.1px;
  object-fit: contain;
}
.next-project-container {
  position: absolute;
  top: 6497px;
  left: 1049px;
  width: 145px;
  height: 22px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.project2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 6612px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
