.g10-icon2,
.g10-icon3 {
  position: absolute;
  height: 39.81%;
  width: 100%;
  top: 39.81%;
  right: 0;
  bottom: 20.39%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.g10-icon3 {
  height: 60.18%;
  top: 103.72%;
  bottom: -63.9%;
}
.we-started-to {
  margin: 0;
}
.we-started-to-container {
  position: absolute;
  top: 2745px;
  left: 93px;
}
.gameplay- {
  white-space: pre-wrap;
}
.upon-which-the-next-animal-sou {
  margin: 0;
  white-space: pre-wrap;
}
.we-got-back-container {
  position: absolute;
  top: 3549px;
  left: 93px;
}
.while-the-availability-container {
  position: absolute;
  top: 46px;
  left: 0;
  display: inline-block;
  width: 1145px;
  height: 162px;
}
.testing-in-container,
.we-came-up-container,
.we-were-able-container {
  position: absolute;
  top: 1187px;
  left: 14px;
  display: inline-block;
  width: 1145px;
}
.testing-in-container,
.we-were-able-container {
  top: 1364px;
}
.testing-in-container {
  top: 2201px;
}
.problem-statement1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.while-the-availability-of-play-parent {
  position: absolute;
  top: 679px;
  left: 79px;
  width: 1159px;
  height: 2336px;
}
.bodystorming-somasthetic-desig2 {
  font-weight: 600;
}
.bodystorming-somasthetic-desig,
.design-methods1 {
  position: absolute;
  top: 71px;
  left: 13px;
}
.design-methods1 {
  top: 0;
  font-weight: 600;
}
.brainstorming,
.embodied-interaction {
  position: absolute;
  top: 879px;
  left: 6px;
  font-weight: 600;
}
.embodied-interaction {
  top: 1033px;
  left: 0;
}
.bodystorming-somasthetic-desig-parent {
  position: absolute;
  top: 935px;
  left: 66px;
  width: 1187px;
  height: 1060px;
}
.prototyping,
.re-iteration {
  position: absolute;
  top: 2674px;
  left: 67px;
  font-weight: 600;
}
.re-iteration {
  top: 3481px;
  left: 66px;
}
.final-prototyping,
.final-testing {
  position: absolute;
  top: 4340px;
  left: 79px;
  font-weight: 600;
}
.final-testing {
  top: 4531px;
}
.magic-climb1,
.we-were-able-container1 {
  position: absolute;
  top: 4422px;
  left: 106px;
}
.magic-climb1 {
  top: 250px;
  left: 79px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.project3-child {
  position: absolute;
  top: 307.5px;
  left: 56.5px;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1128px;
  height: 1px;
}
.team1 {
  position: absolute;
  top: 455px;
  left: 79px;
  font-weight: 600;
}
.xuanling-rishi-gurrala-container {
  position: absolute;
  top: 511px;
  left: 79px;
  font-size: var(--font-size-xl);
}
.research-project1,
.type1 {
  position: absolute;
  left: 79px;
}
.type1 {
  top: 343px;
  font-weight: 600;
}
.research-project1 {
  top: 392px;
}
.miro-arduino-laser-container,
.tools1 {
  position: absolute;
  top: 40px;
  left: 5px;
}
.tools1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.miro-arduino-laser-printing-parent {
  position: absolute;
  top: 455px;
  left: 921px;
  width: 136px;
  height: 160px;
  font-size: var(--font-size-xl);
}
.duration1,
.weeks1 {
  position: absolute;
  left: 921px;
}
.duration1 {
  top: 347px;
  font-weight: 600;
}
.weeks1 {
  top: 395px;
  font-size: var(--font-size-xl);
}
.project3-item {
  position: absolute;
  top: 4815px;
  left: 118px;
  background-color: var(--color-gainsboro-100);
  width: 1044px;
  height: 377px;
}
.project3-child1,
.project3-child2,
.project3-child3,
.project3-child4,
.project3-inner {
  position: absolute;
  top: 1411px;
  left: 207px;
  background-color: var(--color-gainsboro-100);
  width: 865px;
  height: 354px;
}
.project3-child1,
.project3-child2,
.project3-child3,
.project3-child4 {
  top: 2288px;
}
.project3-child2,
.project3-child3,
.project3-child4 {
  top: 3041px;
}
.project3-child3,
.project3-child4 {
  top: 3825px;
}
.project3-child4 {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1280px;
  height: 108px;
}
.about4 {
  left: 0;
  cursor: pointer;
}
.about4,
.projects5,
.resume3 {
  position: absolute;
  top: 0;
}
.projects5 {
  left: 92px;
  color: var(--color-blanchedalmond);
  cursor: pointer;
}
.resume3 {
  left: 200px;
  color: var(--color-gray-100);
}
.about-group,
.rishi-gurrala3 {
  position: absolute;
  color: var(--color-whitesmoke);
}
.about-group {
  top: 45px;
  left: 39px;
  width: 268px;
  height: 22px;
  font-size: var(--font-size-lg);
}
.rishi-gurrala3 {
  top: 31px;
  left: 900px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-lexend-zetta);
}
.line-div {
  position: absolute;
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 27px;
  height: 1px;
}
.frame-child1,
.frame-child2 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 13px;
  height: 10.1px;
  object-fit: contain;
}
.frame-child2 {
  top: 1px;
  height: 10px;
}
.back-to-projects-container {
  position: absolute;
  top: 174px;
  left: 72px;
  width: 178px;
  height: 22px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.previous-project {
  position: absolute;
  top: 0;
  left: 38px;
  font-weight: 500;
}
.previous-project-parent {
  position: absolute;
  top: 5339px;
  left: 86px;
  width: 178px;
  height: 22px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.next-project1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.frame-child6 {
  position: absolute;
  top: 1px;
  left: 119px;
  width: 26px;
  height: 20.1px;
  object-fit: contain;
}
.next-project-group {
  position: absolute;
  top: 5339px;
  left: 1049px;
  width: 145px;
  height: 22px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.project3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 5463px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
